.option-button {
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
    background-color: white;
    color: teal;
  }
  

  
  .menu-expand {
    background-color: #4a69bb;
    width: 250px;
    height: 100vh;
    position: fixed;
    z-index: 1;
  }
  
  .items {
    align-self: center;
    margin: 7px;
  }
  
  .menu-collapse {
    display: none;
    width: 0px;
    max-width: 100%;
  }
  
  .user-image {
    align-self: center;
    margin: 25px 10px 25px 10px;
  }
  
  
  