<button class="btn option-button" (click)="toggleMenu()" *ngIf="!show">
    <img src="../../assets/navbtn.png" class="p-3">
  </button>
  
  
  <div class="ml-0" [ngClass]="show ? 'menu-expand' : 'menu-collapse'">
      <ul class="navbar-nav">
        <li>
          <button class="btn float-right" (click)="toggleMenu()">
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path fill-rule="evenodd"
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
          </button>
        </li>
        <li class="nav-item user-image items"><svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-person-fill"
            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
          </svg></li>
        <li class="nav-item items text-white font-weight-bold h5">{{username}}</li>
        <li class="nav-item items "><a class="text-white" routerLink="/dashboard">Dashboard</a></li>
        <li class="nav-item items "><a class="text-white" routerLink="/completed">Completed Tasks</a></li>
        <li class="nav-item items "><a  class="text-white" routerLink="/deleted">Deleted Tasks</a></li>
        <li class="nav-item items "><button  class=" btn bg-dark rounded text-white" (click)="logout()" routerLink="">Logout</button></li>
      </ul>
  </div> 

