<div class="container">
    <div class="shadow p-4 d-flex justify-content-between mb-2 border-radius-1">
      <span class="dash">Deleted Tasks</span>
  
    </div>
  
    <div class="row mt-5">
      <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let i of deletedList;let j=index;">
        <div class="d-flex flex-column bd-highlight mb-3 shadow">
          <div class="p-3 bd-highlight">
            <div class="d-flex justify-content-between">
              <span class="text-secondary desc-text">{{i.title}}</span>
            
            </div>
          </div>
          <div class="p-3 bd-highlight text-primary desc-text">{{i.desc}}</div>
          <div class="p-3 bd-highlight">
            <div class="d-flex justify-content-between">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path fill-rule="evenodd"
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
              </svg>
              <button class="btn" (click)="index=j;" data-toggle="modal" data-target="#moveTaskModal">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-counterclockwise" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                  <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="moveTaskModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Do You want to Restore this Task?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="restoreTask()" data-dismiss="modal">Confirm</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  