<div class="container">
    <div class="shadow p-4 d-flex justify-content-between mb-2 border-radius-1">
        <span class="dash">Dashboard</span>
        <button type="button" class="btn" data-toggle="modal" data-target="#addTaskModal">
      <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-clipboard-plus" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
        <path fill-rule="evenodd"
          d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3zM8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z" />
      </svg>
    </button>

    </div>

    <div class="row mt-5">
        <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let i of dashboardList;let j=index;">
            <div class="d-flex flex-column bd-highlight mb-3 shadow">
                <div class="p-3 bd-highlight">
                    <div class="d-flex justify-content-between">
                        <span class="text-secondary desc-text">{{i.title}}</span>
                        <button class="btn" (click)="currentTask=i.id;index=j;preEdit();" data-toggle="modal" data-target="{{i.id}}">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
              </svg>
            </button>
                    </div>
                </div>
                <div class="p-3 bd-highlight text-primary desc-text">{{i.desc}}</div>
                <div class="p-3 bd-highlight">
                    <div class="d-flex justify-content-between">
                        <button class="btn" data-toggle="modal" data-target="#confirmDelete" (click)="index=j;">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path fill-rule="evenodd"
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
              </svg>
            </button>
                        <button class="btn" data-toggle="modal" data-target="#confirmToCompleted" (click)="index=j;">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                <path fill-rule="evenodd"
                  d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z" />
              </svg>
            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTitle">Add Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close-add-title">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <label>Title</label><br>
                <input type="text" name="newTitle" class="form-control w-100" [(ngModel)]="newTitle" required><br>
                <label>Description</label><br>
                <input type="text" name="newDesc" class="form-control w-100" [(ngModel)]="newDesc"><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="addTask()" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="editTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTitle">Edit Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close-edit-title">
            <span>&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <label>Title</label><br>
                <input type="text" name="newTitle" class="form-control w-100" [(ngModel)]="newTitle" required><br>
                <label>Description</label><br>
                <input type="text" name="newDesc" class="form-control w-100" [(ngModel)]="newDesc"><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="editTask()" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div> -->

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#task100">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="task100" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- <div class="modal" tabindex="-1" role="dialog" id="confirmDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <p>Are you Sure you want to Delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="deleteTask();" data-dismiss="modal">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="confirmToCompleted">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <p>Are you Sure you want to Delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="moveToCompleted();" data-dismiss="modal">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div> -->