<div class="container d-flex align-items-center justify-content-center" style="height: 80vh;">
    <div class="row">
        <div class="col-6">
            <img src="../../assets/todomain.png" class="img-fluid">
        </div>
        <div class="col-6 my-auto">
            <div class="shadow card px-3 py-4">
                <div class="text-center">
                    <img src="../../assets/todo.png" class="img-fluid">
                </div>
                <span class="p-3">To Plan & Do Works</span>
                <div class="text-center">
                    <button class="btn btn-light shadow" (click)="login()" routerLink="./dashboard"><span>Login with </span><img src="../../assets/google.png" width="30" height="30" ></button>
                </div>
            </div>
        </div>
    </div>
</div>