.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  font-size: large;
}

.dashboard {
  color: white;
  border-radius: 2rem;
  font-size: 30px;
  padding: 10px;
  background-color: #4a69bb;
}
.desc-text
{
  font-size: 1.75rem;
}
.border-radius-1 {
  border-radius: 10px;
}

button,
button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
  padding: 0;
}


.dash {
  font-weight: 600;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 6px;
  background-color: #4a69bb;
  border-radius: 2em;
}
